<ion-header>
  <ion-toolbar>

      <ion-buttons slot="start">
          <ion-back-button defaultHref="cars-list"></ion-back-button>
    
        </ion-buttons>

    <ion-title>cars</ion-title>

    <ion-button slot="end" (click)="deleteCars()">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
      <ion-card-header>
<ion-label position="floating"><b>NAME</b></ion-label>

        <ion-card-title>{{singlecar?.name}}</ion-card-title>
      
      </ion-card-header>

      <b>Features:</b><br>
     

      <ion-card-content>
          
          <ion-label position="floating"> <b>REGISTRATION NO #  </b> </ion-label>
 
  {{singlecar?.reg}}
<br>

  <ion-label position="floating"> <b> MODEL </b> </ion-label>

  {{singlecar?.model}}

<br>

</ion-card-content>

    </ion-card>

  </ion-content>

